build/*
dist/*
*.egg-info
*.pyc
*.log
trace*.json
.cache/*
*.excp
compile_commands.json
recis/lib
.vscode/*
.idea/*
docs/_build
.DS_Store
info.py
recis/version_info.py
fake_data/
test.py
code_format_report.md
results.json
